h2{
	color: @b42s__h2__color;
}

h3{
	color: @b42s__h3__color;
}

h4{
	color: @b42s__h4__color;
}

h5{
	color: @b42s__h5__color;
}

h6{
	color: @b42s__h6__color;
}

p{
	margin-bottom: unit(@b42s__body_font__margin_bottom, px);
}

li{
	line-height: @line-height;
	margin-bottom: unit(@b42s__body_font__margin_bottom, px);
}

.b42s__fl-rich-text_intro-text > p,
.b42s__fl-rich-text_intro-text li,
p.intro_text{
	font-size: unit(@b42s__intro_text__font_size, px);
	line-height: @b42s__intro_text__line_height;
	margin-bottom: unit(@b42s__intro_text__margin_bottom, px);
}

.b42s__fl-rich-text_intro-text-alt > p,
.b42s__fl-rich-text_intro-text-alt li,
p.intro_text_alt{
	font-size: unit(@b42s__intro_text_alt__font_size, px);
	line-height: @b42s__intro_text_alt__line_height;
	margin-bottom: unit(@b42s__intro_text_alt__margin_bottom, px);
}

.gwd_fl-rich-text_small-text > p,
.gwd_fl-rich-text_small-text li,
small,
p.small_text{
	font-size: unit(@b42s__small_text__font_size, px);
	line-height: @b42s__small_text__line_height;
	margin-bottom: unit(@b42s__small_text__margin_bottom, px);
}

.pp-quote-wrap .pp-pullquote-wrapper .pp-pullquote-content p,
blockquote p{
	color: @b42s__blockquote__color;
	font-size: unit(@b42s__blockquote__font_size, px);
	line-height: @b42s__blockquote__line_height;
	margin-bottom: unit(@b42s__blockquote__margin_bottom, px);
}

.pp-quote-wrap .pp-pullquote-wrapper .pp-pullquote-content p:last-child,
blockquote p:last-child{
	margin-bottom: 0px;
}