/*
Theme Name: Bowl for Two (Beaver Builder Child Theme)
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0.2.14.2
Description: Child Theme with some Customization Options Built In
Author: The Grenwoods
Author URI: https://www.thegrenwoods.com
template: bb-theme
*/

/* Add your custom styles here... */ 

html,
body{
	text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

/* Image with 'data' attribute is hidden */
img[data-lazy-src] {
/* we set the opacity to 0 */
   opacity: 0;
}
/* Image without 'data' attribute is (or becomes) visible */
img.lazyloaded {
/* prepare the future animation */
   -webkit-transition: opacity .5s linear 0.2s;
       -moz-transition: opacity .5s linear 0.2s;
                 transition: opacity .5s linear 0.2s;
/* we set the opacity to 1 to do the magic */
   opacity: 1;
}

.b42s_inline-block{
    display: inline-block;
}

.b42s_child-margins_zero-exterior > .fl-module-content > *:first-child,
.b42s_child-margins_zero-exterior .fl-rich-text > *:first-child,
.child-margins_zero-exterior > .fl-module-content > *:first-child,
.child-margins_zero-exterior .fl-rich-text > *:first-child{
    margin-top: 0 !important;
}

.b42s_child-margins_zero-exterior > .fl-module-content > *:last-child,
.b42s_child-margins_zero-exterior .fl-rich-text > *:last-child,
.child-margins_zero-exterior > .fl-module-content > *:last-child,
.child-margins_zero-exterior .fl-rich-text > *:last-child{
    margin-bottom: 0 !important;
}

.b42s_text-align_left,
.b42s_text-align_left > .fl-node-content,
.b42s_text-align_left > .fl-node-content .fl-button-wrap{
    text-align: left;
}
.b42s_text-align_right,
.b42s_text-align_right > .fl-node-content,
.b42s_text-align_right > .fl-node-content .fl-button-wrap{
    text-align: right;
}
.b42s_text-align_center,
.b42s_text-align_center > .fl-node-content,
.b42s_text-align_center > .fl-node-content .fl-button-wrap{
	text-align: center;
}

@media (max-width: 767px){
	.b42s-sm_text-align_left,
	.b42s-sm_text-align_left > .fl-node-content,
	.b42s-sm_text-align_left > .fl-node-content .fl-button-wrap{
		text-align: left;
	}
	.b42s-sm_text-align_right,
	.b42s-sm_text-align_right > .fl-node-content,
	.b42s-sm_text-align_right > .fl-node-content .fl-button-wrap{
		text-align: right;
	}
	.b42s-sm_text-align_center,
	.b42s-sm_text-align_center > .fl-node-content,
	.b42s-sm_text-align_center > .fl-node-content .fl-button-wrap{
		text-align: center;
	}
	
	.b42s_hide__small{
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 992px){
	.b42s-md_text-align_left,
	.b42s-md_text-align_left > .fl-node-content,
	.b42s-md_text-align_left > .fl-node-content .fl-button-wrap{
		text-align: left;
	}
	.b42s-md_text-align_right,
	.b42s-md_text-align_right > .fl-node-content,
	.b42s-md_text-align_right > .fl-node-content .fl-button-wrap{
		text-align: right;
	}
	.b42s-md_text-align_center,
	.b42s-md_text-align_center > .fl-node-content,
	.b42s-md_text-align_center > .fl-node-content .fl-button-wrap{
		text-align: center;
	}
	
	.b42s_hide__medium{
		display: none !important;
	}
}

@media (min-width: 992px){
	.b42s_hide__large{
		display: none !important;
	}
}

@media (min-width: 768px){
	.b42s_two-col_paragraph .fl-rich-text{
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}
	
	.b42s_two-col_paragraph .fl-rich-text > *:last-child{
		margin-bottom: 0 !important;
	}
	.b42s_two-col_paragraph .fl-rich-text > *:first-child{
		margin-top: 0 !important;
	}
}

.b42s_p_no-margin p{
    margin: 0;
}

.b42s_icon-group_no-margin-top-bot .fl-icon{
    margin-top: 0;
    margin-bottom: 0;
}

.b42s_fl-col-group_flex-center .fl-col-group{
    display: flex;
    align-items: center;
}